.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .overflow_type_single {
    white-space: nowrap;
  }
  
  .overflow_type_multi {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }