.profile{
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.4);
    max-width: 1280px;
    margin: 0 auto;
}

.profile__details{
    display: flex;
    gap: 20px;
}

.profile__avatar{
    object-fit: cover;
    width: 190px;
    height: 190px;
    border-radius: 8px;
}

.profile__avatar-container{
    position: relative;
    height: 190px;
    overflow: hidden;
}

.profile__avatar-btn{
    position: absolute;
    width: 190px;
    height: 190px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12px;
    color:  rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 8px;
    visibility: hidden;
}

.profile__avatar-container:hover .profile__avatar-btn{
    visibility: visible;
    cursor: pointer;
}

.profile__avatar-btn::after{
    content: "Edit Avatar";
    padding-left: 8px;
}

.profile__personal-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__personal-name-desc{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile__name{
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.profile__desc{
    margin: 0;
    font-size: 16px;
    opacity: 70%;
}

.profile__button-edit{
    all: unset;
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 1;
    opacity: 70%;
}

.profile__button-new{
    margin: auto 0 0 auto;
    padding: 18px 24px 18px 32px;
    background-color: rgba(33, 33, 33, 1);
    color: rgba(252, 245, 229, 1);
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 52px;
    max-width: 157px;
    transition: opacity 0.25s ease-in-out;
    flex-grow: 1;
}

.profile__button-new-icon{
    height: 12px;
    width: 12px;
}

.profile__button-edit:hover{
    opacity: 100%;
    cursor: pointer;
}

.profile__button-new:hover{
    background: rgba(33, 33, 33, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 654px) {
    .profile{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    
    .profile__details{
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .profile__avatar-container{
        height: 100%;
        width: 80px;
        margin: 0 auto;
    }

    .profile__avatar-btn{
        height: 80px;
        width: 80px;
        background-color: rgba(0, 0, 0, 0);
        visibility: visible;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 52px 0 0 52px;
    }

    .profile__pencil-icon{
        background-color: rgba(33, 33, 33, 0.6);
        padding: 4px;
        border-radius: 6px;
    }

    .profile__avatar{
        margin: 0 auto;
        height: 80px;
        width: 80px;
    }

    .profile__avatar-btn::after{
        content: "";
        padding: 0;
    }

    .profile__personal-info{
        align-items: center;
    }

    .profile__personal-name-desc{
        align-items: center;
        gap: 6px;
    }

    .profile__name{
        font-size: 20px;
    }

    .profile__button-edit{
        margin: 32px 0 20px;
    }

    .profile__button-new{
        align-items: center;
        margin: 0 auto;
        padding: 18px;
        min-width: calc(100vw - 32px);
        justify-content: center;
    }
}